.boyrun1 {
  animation-name: boy11;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes boy11 {
  0% {
    transform: translate(300%, 200%);
  }

  50% {
    transform: translate(-100%, 100%);
  }

  100% {
    transform: translate(-500%, 200%);
  }
}

.boyrun2 {
  animation-name: boy12;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes boy12 {
  0% {
    transform: translate(300%, 200%);
  }

  25% {
    transform: translate(100%, 150%);
  }

  50% {
    transform: translate(-100%, 100%);
  }

  75% {
    transform: translate(-300%, 150%);
  }

  100% {
    transform: translate(-500%, -100%);
  }
}

.boyrun3 {
  animation-name: boy13;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes boy13 {
  0% {
    transform: translate(300%, 100%);
  }

  25% {
    transform: translate(100%, 150%);
  }

  50% {
    transform: translate(-100%, 100%);
  }

  75% {
    transform: translate(-300%, 150%);
  }

  100% {
    transform: translate(-500%, 100%);
  }
}

.boyrun21 {
  animation-name: boy21;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes boy21 {
  0% {
    transform: translate(100%, 200%);
  }

  50% {
    transform: translate(-200%, 400%);
  }

  100% {
    transform: translate(-500%, 300%);
  }
}

.boyrun22 {
  animation-name: boy22;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes boy22 {
  0% {
    transform: translate(300%, 200%);
  }

  100% {
    transform: translate(-500%, 200%);
  }
}

.priest1 {
  animation-name: priest1;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes priest1 {
  0% {
    transform: translate(300%, 200%);
  }

  100% {
    transform: translate(-200%, 200%);
  }
}

.priest2 {
  animation-name: priest2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes priest2 {
  0% {
    transform: translate(300%, 100%);
  }

  100% {
    transform: translate(-500%, 100%);
  }
}

.priest3 {
  animation-name: priest3;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes priest3 {
  0% {
    transform: translate(300%, 200%);
  }

  100% {
    transform: translate(-500%, 200%);
  }
}

.priest21 {
  animation-name: priest21;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes priest21 {
  0% {
    transform: translate(-100%, 200%);
  }

  100% {
    transform: translate(100%, 200%);
  }
}

.priest22 {
  animation-name: priest22;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes priest22 {
  0% {
    transform: translate(-100%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

.priest23 {
  animation-name: priest23;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes priest23 {
  0% {
    transform: translate(-100%, 300%);
  }

  100% {
    transform: translate(100%, 300%);
  }
}

.bishop1 {
  animation-name: bishop1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bishop1 {
  0% {
    transform: translate(600%, 300%);
  }

  100% {
    transform: translate(-500%, 300%);
  }
}

.bishop2 {
  animation-name: bishop2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bishop2 {
  0% {
    transform: translate(-200%, 100%);
  }

  100% {
    transform: translate(500%, 100%);
  }
}

.bishop3 {
  animation-name: bishop3;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bishop3 {
  0% {
    transform: translate(-200%, 200%);
  }

  100% {
    transform: translate(500%, 200%);
  }
}

.cardinal1 {
  animation-name: cardinal1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cardinal1 {
  0% {
    transform: translate(400%, 250%);
  }

  100% {
    transform: translate(-400%, 250%);
  }
}

.cardina2 {
  animation-name: cardinal2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cardinal2 {
  0% {
    transform: translate(-400%, 250%);
  }

  100% {
    transform: translate(400%, 250%);
  }
}

.cardinal3 {
  animation-name: cardinal3;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cardinal3 {
  0% {
    transform: translate(-400%, 300%);
  }

  100% {
    transform: translate(400%, 300%);
  }
}

.pope1 {
  animation-name: pope1;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pope1 {
  0% {
    transform: translate(1000%, 250%);
  }

  100% {
    transform: translate(-1000%, 250%);
  }
}

.pope2 {
  animation-name: pope2;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pope2 {
  0% {
    transform: translate(1000%, 250%);
  }

  100% {
    transform: translate(-1000%, 250%);
  }
}

.pope3 {
  animation-name: pope3;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pope3 {
  0% {
    transform: translate(-1000%, 300%);
  }

  100% {
    transform: translate(1000%, 300%);
  }
}

.boy31 {
  animation-name: boy31;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes boy31 {
  0% {
    transform: translate(-300%, 250%);
  }

  100% {
    transform: translate(500%, 250%);
  }
}

.boy32 {
  animation-name: boy32;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes boy32 {
  0% {
    transform: translate(-300%, 300%);
  }

  100% {
    transform: translate(500%, 300%);
  }
}

.boy32 {
  animation-name: boy32;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes boy32 {
  0% {
    transform: translate(300%, 250%);
  }

  100% {
    transform: translate(-500%, 250%);
  }
}

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform: scale(0.1);
}

@keyframes zoom_out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.1);
  }
}
