/* Animationer til figurer */

.boyrun1 {
  animation-name: boy1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes boy1 {
  0% {
    transform: translate(300%, 200%);
  }

  50% {
    transform: translate(-100%, 100%);
  }

  100% {
    transform: translate(-500%, 200%);
  }
}

.boyrun2 {
  animation-name: boy2;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes boy2 {
  0% {
    transform: translate(100%, 200%);
  }

  50% {
    transform: translate(-200%, 400%);
  }

  100% {
    transform: translate(-500%, 300%);
  }
}

.priest1 {
  animation-name: priest1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes priest1 {
  0% {
    transform: translate(300%, 100%);
  }

  100% {
    transform: translate(-200%, 100%);
  }
}

.bishop {
  animation-name: bishop;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bishop {
  0% {
    transform: translate(-600%, 150%);
  }

  100% {
    transform: translate(500%, 150%);
  }
}

.cardinal {
  animation-name: cardinal;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cardinal {
  0% {
    transform: translate(400%, 100%);
  }

  50% {
    transform: translate(-100%, 150%);
  }

  100% {
    transform: translate(-400%, 100%);
  }
}

.pope {
  animation-name: pope;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pope {
  0% {
    transform: translate(-500%, 150%);
  }

  100% {
    transform: translate(500%, 150%);
  }
}

.boy3 {
  animation-name: boy3;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes boy3 {
  0% {
    transform: translate(-300%, 250%);
  }

  100% {
    transform: translate(500%, 250%);
  }
}

/* animationer som bruges til at fjerne figurer */

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform: scale(0.1);
}

@keyframes zoom_out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.1);
  }
}

.paused {
  animation-play-state: paused;
}

/* animationer, som bruges til tekst */

.text_pulse {
  transform: scale(1);
  animation: pulsetext 2s infinite;
}

@keyframes pulsetext {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

/* Animation til time bar */

.shrink {
  animation-name: shrink_kf;
  animation-duration: 30s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes shrink_kf {
  0% {
    scale: 1 1;
    background-color: limegreen;
  }
  50% {
    background-color: rgb(255, 230, 0);
  }
  100% {
    scale: 1 0;
    background-color: red;
  }
}

/* transiotion mellem skærme */

.transition {
  animation-name: transition;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes transition {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.transition1 {
  animation-name: transition1;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes transition1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
