.falling1 {
  animation-name: boy1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes boy1 {
  0% {
    transform: translate(300%, 100%);
  }

  100% {
    transform: translate(-500%, 100%);
  }
}

.falling2 {
  animation-name: boy2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes boy2 {
  0% {
    transform: translate(300%, 200%);
  }

  100% {
    transform: translate(-500%, 400%);
  }
}

.falling3 {
  animation-name: priest1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes priest1 {
  0% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(-200%, 100%);
  }
}

.falling4 {
  animation-name: priest2;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes priest2 {
  0% {
    transform: translate(100%, 0%);
  }

  100% {
    transform: translate(-100%, 50%);
  }
}

.falling5 {
  animation-name: bishop;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bishop {
  0% {
    transform: translate(100%, 0%);
  }

  100% {
    transform: translate(-100%, 50%);
  }
}

.falling6 {
  animation-name: cardinal;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cardinal {
  0% {
    transform: translate(100%, 0%);
  }

  100% {
    transform: translate(-100%, 50%);
  }
}

.falling7 {
  animation-name: pope;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pope {
  0% {
    transform: translate(100%, 0%);
  }

  100% {
    transform: translate(-100%, 50%);
  }
}

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform: scale(0.1);
}

@keyframes zoom_out {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.75);
  }

  50% {
    transform: scale(0.5);
  }

  75% {
    transform: scale(0.25);
  }

  100% {
    transform: scale(0.1);
  }
}
