@import url(animation.css);

body {
  filter: grayscale(15%) blur(0.9px);
  margin: 0;
  font-family: fantasy;
  cursor: url(img/newCursor.png) 48 48, auto;
}

.cursor {
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid red;
}

h2 {
  font-size: 20em;
}

img {
  width: 100%;
}

#screen {
  aspect-ratio: 16 / 9;
  display: grid;
  grid-template: 100% / 100%;
}

#game {
  grid-area: 1 / 1;
  display: grid;
  grid-template: 100% / 100%;
}

#game_background {
  grid-area: 1 /1;
  background-image: url(img/Church.jpg);
  background-size: cover;
}

#game_elements {
  grid-area: 1 /1;
  overflow: hidden;
  position: relative;
}

#game_over {
  grid-area: 1 /1;
  z-index: 9999;
  display: grid;
  justify-content: center;
  align-content: center;
}

#level_complete {
  grid-area: 1 /1;
  z-index: 9999;
  display: grid;
  justify-content: center;
  align-content: center;
}

#game_over.hidden {
  display: none;
}

#level_complete.hidden {
  display: none;
}

#boy_container {
  position: absolute;
  top: 0;
  left: 60vw;
}

#boy_sprite {
  width: 100%;
}

#boy1_container {
  position: absolute;
  top: 0;
  left: 80vw;
}

#boy1_sprite {
  width: 80%;
}

#preist_container {
  position: absolute;
  top: 0;
  left: 20vw;
}

#priest_sprite {
  width: 15%;
}

#preist1_container {
  position: absolute;
  top: 0;
  left: 50vw;
}

#priest1_sprite {
  width: 25%;
}

#bishop_container {
  position: absolute;
  top: 0;
  left: 20vw;
}

#bishop_sprite {
  width: 75%;
}

#cardinal_container {
  position: absolute;
  top: 0;
  left: 60vw;
}

#cardinal_sprite {
  width: 75%;
}

#pope_container {
  position: absolute;
  top: 0;
  left: 40vw;
}

#pope_sprite {
  width: 75%;
}

#game_ui {
  grid-area: 1/1;
  color: white;
  font-size: 2em;
}

#score_board {
  text-align: center;
}

#kill_count {
  white-space: nowrap;
  text-align: center;
  font-size: 100px;
}

#life_board {
  text-align: center;
}

#heart1 {
  width: 5%;
}
#heart2 {
  width: 5%;
}
#heart3 {
  width: 5%;
}

.active_heart {
  filter: drop-shadow(0 0 2px rgb(30, 234, 7));
}

.broken_heart {
  filter: grayscale(75%) blur(0.9px);
}
