@import url(animation.css);

body {
  margin: 0;
  font-family: fantasy;
}

h2 {
  font-size: 20em;
}

img {
  width: 100%;
}

#screen {
  aspect-ratio: 16 / 9;
  display: grid;
  grid-template: 100% / 100%;
}

#game {
  grid-area: 1 / 1;
  display: grid;
  grid-template: 100% / 100%;
}

#game_background {
  grid-area: 1 /1;
  background-image: url(img/Church.jpg);
  background-size: cover;
}

#game_elements {
  grid-area: 1 /1;
  overflow: hidden;
  position: relative;
}

#game_over {
  grid-area: 1 /1;
  z-index: 9999;
  display: grid;
  justify-content: center;
  align-content: center;
}

#level_complete {
  grid-area: 1 /1;
  z-index: 9999;
  display: grid;
  justify-content: center;
  align-content: center;
}

#game_over.hidden {
  display: none;
}

#level_complete.hidden {
  display: none;
}

#boy_container {
  position: absolute;
  top: 0;
  left: 60vw;
}

#boy_sprite {
  width: 100%;
}

#boy1_container {
  position: absolute;
  top: 0;
  left: 80vw;
}

#boy1_sprite {
  width: 80%;
}

#preist_container {
  position: absolute;
  top: 0;
  left: 20vw;
}

#priest_sprite {
  width: 15%;
}

#preist1_container {
  position: absolute;
  top: 0;
  left: 50vw;
}

#priest1_sprite {
  width: 25%;
}

#bishop_container {
  position: absolute;
  top: 0;
  left: 20vw;
}

#bishop_sprite {
  width: 75%;
}

#cardinal_container {
  position: absolute;
  top: 0;
  left: 60vw;
}

#cardinal_sprite {
  width: 75%;
}

#pope_container {
  position: absolute;
  top: 0;
  left: 40vw;
}

#pope_sprite {
  width: 75%;
}

#game_ui {
  grid-area: 1/1;
  color: white;
  font-size: 2em;
  pointer-events: none;
}

/* #score_board {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.1em;
  text-align: center;
} */

#score_board {
  text-align: center;
}

#kill_count {
  white-space: nowrap;
  text-align: center;
  font-size: 100px;
}

#life_board {
  text-align: center;
}

#heart1 {
  width: 5%;
}
#heart2 {
  width: 5%;
}
#heart3 {
  width: 5%;
}

.active_heart {
  filter: drop-shadow(0 0 2px rgb(30, 234, 7));
}

.broken_heart {
  filter: grayscale(75%) blur(0.9px);
}
